:root {
    --primary-color: #4CAF4F;
    --secondary-color: #263238;
    /* Dark text */
    --text-gray: #717171;
    --light-bg: #F5F7FA;
    --silver: #F5F7FA;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--secondary-color);
}

.text-success {
    color: var(--primary-color) !important;
}

.btn-success {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 4px;
    /* Small radius */
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-success:hover {
    background-color: #3e8e41;
    /* Slightly darker */
    border-color: #3e8e41;
}

.container-custom {
    max-width: 1150px;
}

/* Navbar */
.navbar-brand span {
    font-weight: 700;
    color: #263238;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    color: #18191F !important;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

/* Hero */
.hero-section {
    background-color: var(--light-bg);
    min-height: 600px;
}

.hero-section h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
}

/* Clients */
.clients-section h1 {
    color: #4D4D4D;
}

.clients-section p {
    color: var(--text-gray);
}

.logos-container i {
    opacity: 0.7;
    transition: opacity 0.3s;
}

/* Community */
.community-section p {
    color: var(--text-gray);
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.icon-wrapper {
    width: 65px;
    height: 56px;
    /* Rough sizing from design */
    margin: 0 auto;
}

/* Stats */
.stats-section {
    background-color: var(--light-bg) !important;
}

/* Footer */
.footer-link {
    color: #F5F7FA;
    opacity: 0.7;
    text-decoration: none;
}

.footer-link:hover {
    opacity: 1;
}


/* Blog Section */
.blog-section .card-body {
    box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4) !important;
}